{% extends 'layout-app.html' %}

{% set hub = "Your health" %}
{% set pageHeading = "Display and vision - My BP" %}

{% block beforeContent %}
  {{ backLink({
    text: "Back to accessibility",
    href: "/pages/mybp/accessibility-hub"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <p class="nhsuk-lede-text">
        Adjust how My BP looks to make it easier to read and use.
      </p>

      <form action="#" method="post">
        
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              Text size
            </legend>
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="text-size-normal" name="text-size" type="radio" value="normal" checked>
                <label class="nhsuk-radios__label" for="text-size-normal">
                  Normal text
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="text-size-large" name="text-size" type="radio" value="large">
                <label class="nhsuk-radios__label" for="text-size-large">
                  Large text (recommended for easier reading)
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="text-size-extra-large" name="text-size" type="radio" value="extra-large">
                <label class="nhsuk-radios__label" for="text-size-extra-large">
                  Extra large text
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              Contrast and colors
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="high-contrast" name="display" type="checkbox">
                <label class="nhsuk-checkboxes__label" for="high-contrast">
                  <strong>High contrast mode</strong>
                  <span class="nhsuk-hint nhsuk-checkboxes__hint">
                    Makes text and buttons stand out more clearly
                  </span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              Motion and animation
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="reduce-motion" name="display" type="checkbox">
                <label class="nhsuk-checkboxes__label" for="reduce-motion">
                  <strong>Reduce motion</strong>
                  <span class="nhsuk-hint nhsuk-checkboxes__hint">
                    Minimize animations and moving content
                  </span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="nhsuk-button" type="submit">Save changes</button>

        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="/pages/mybp/accessibility-hub">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="m0 0h24v24h-24z" fill="none"/>
              <path d="m12 2a10 10 0 1 0 10 10 10.011 10.011 0 0 0 -10-10zm5.293 11.293-3.293 3.293v-8.586l3.293 3.293a1 1 0 0 1 0 1.414z"/>
            </svg>
            <span class="nhsuk-action-link__text">Back to accessibility</span>
          </a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}